<h4 class="text-center">Welcome to our site</h4>

<p>Our Events in Andhra was started with a mission to bring all events of different catogeries at a single place. This makes the people to be aware of what events are happening across the state.</p>

<p>Users can post about different events across state. They can also view the events posted by msny users.</p>

<br>Users are requested to post only genuine events and are requested to avoid abusive language.
<br><br>Users can report any event as abuse if they find it not genuine or abusive. Proper action will be taken by moderators after review.
<p>Users can provide their valuable feedback which will help to reach your expectation at all times.</p>
<p>Users can move the tabs and place them in their own preferred order.</p>

